<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.sheep.workspace.dao.HelloMapper">

    <resultMap id="paramMap" type="java.lang.String">
        <result column="account_name" property="accountName"/>
    </resultMap>

    <select id="selectOneAccountName" resultMap="paramMap">
        SELECT account_name FROM cn_account LIMIT 1
    </select>
</mapper>